* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: left;
}

.App-header {
  /* background-color: #242429; */
  background-color: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link, a:visited {
  color: white;
}

.nav {
  position: fixed;
  top: 10px;
  left: 100px;
}

input[type=submit] {
  height: 28px;
  width: 64px;
  border-radius: 6px;
  font-size: 18px;
}

input[type=text] {
  height: 28px;
  width: 180px;
  vertical-align: middle;
  margin: 3px;
  border-radius: 3px;
}

#game {
  display: inline-block;
  width: 1000px;
  position: fixed;
  top: 50px;
  left: 40px;
}

#game h2 {
  text-align: center;
  font: italic bold 56px 'Segoe Print', verdana, arial, sans-serif;
  color: palegoldenrod;
}

#main_board {
  display: inline-block;
  box-sizing: border-box;
  margin: 12px;
  vertical-align: top;
}

#main_board .row, #next_piece .row {
  height: 30px;
}

#main_board .row .block, #next_piece .row .block {
  height: 30px;
  width: 30px;
  display: inline-block;
  border: 1px solid #333;
  box-sizing: border-box;
}

#game_over, .countdown {
  position: absolute;
  background-color: #000;
  border: 3px solid goldenrod;
  color: goldenrod;
  padding: 24px;
  top: 30%;
  left: 30%;
  font: normal 40px 'Courier New', Courier, monospace;
  text-align: center;
}

#right_bar {
  display: inline-block;
  vertical-align: top;
  margin: 12px;
  overflow: auto;
  width: 360px;
  min-height: 300px;
}

#score_box {
  height: 100px;
  width: 180px;
  border: 1px solid #fff;
  margin: 3px;
  box-sizing: border-box;
  padding: 12px;
}

#score_box h3 {
  font: normal 24px 'Segoe UI', arial, sans-serif;
}

#next_piece {
  height: 200px;
  width: 180px;
  border: 1px solid #fff;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
  margin: 3px;
}

#next_piece .box {
  display: inline-block;
  width: 120px;
  height: 140px;
  background-color: #000;
  padding-top: 12px;
  box-sizing: border-box;
}

.mini_board {
  height: 160px;
  /* border: 1px solid #fff; */
  margin: 3px;
  display: inline-block;
  text-align: center;
  width: 66px;
  box-sizing: border-box;
}

.mini_board .row {
  height: 5px;
}

.mini_board .block {
  height: 5px;
  width: 5px;
  display: inline-block;
}

.mini_board h5 {
  font-weight: 100;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 60px;
}

.blank {
  background-color: #000;
  border: 0 !important;
}

.purple {
  background-color: rebeccapurple !important;
}

.blue {
  background-color: steelblue !important;
}

.green {
  background-color: seagreen !important;
}

.orange {
  background-color: darkorange !important;
}

.red {
  background-color: maroon !important;
}

.yellow {
  background-color: palegoldenrod !important;
}

.gray {
  background-color: silver !important;
}

#left_bar {
  display: inline-block;
  display: inline-block;
  vertical-align: top;
  margin: 12px;
  width: 260px;
}

#instructions {
  font: normal 14px 'Segoe UI', arial, sans-serif;
  margin: 12px;
}

#chat_bar {
  width: 260px;
  display: inline-block;
  vertical-align: top;
  /* margin: 12px; */
  overflow: auto;
  background-color: #353638;
  box-sizing: border-box;
  padding: 3px;
}

#chatroom {
  overflow: auto;
  height: 400px;
}

.chat_highlight {
  color: lightblue;
}

.chat_row {
  font: 14px arial, sans-serif;
  text-align: left;
}

.chat_user {
  font-weight: bold;
  margin-right: 4px;
}

.lobby_row {
  background-color: #000;
  height: 36px;
  padding: 3px;
  box-sizing: border-box;
}

.lobby_player {
  font: 22px "courier new", courier, monospace;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
}

.lobby_row button {
  float: right;
  height: 26px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  width: 60px;
  box-sizing: border-box;
  cursor: pointer;
}

.lobby_status {
  float: right;
  font: normal 14px verdana, arial, sans-serif;
  padding-top: 4px;
}

.ready {
  border: 2px solid lime;
}

.not_ready {
  border: 2px solid red;
}

.countdown {
  position: absolute;
  background-color: #000;
  border: 3px solid rgb(173, 255, 157);
  color: rgb(173, 255, 157);
  padding: 24px;
  top: 30%;
  left: 30%;
  font: normal 36px 'Courier New', Courier, monospace;
  text-align: center;
  width: 400px;
}