* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link, a:visited {
  color: white;
}

.nav {
  position: fixed;
  top: 10px;
  left: 100px;
}

input[type=submit] {
  height: 28px;
  width: 64px;
  border-radius: 6px;
  font-size: 18px;
}

input[type=text] {
  height: 28px;
  width: 180px;
  vertical-align: middle;
  margin: 3px;
  border-radius: 3px;
}

#game {
  display: inline-block;
  min-width: 800px;
  position: fixed;
  top: 100px;
  left: 100px;
}

#main_board {
  display: inline-block;
  box-sizing: border-box;
  margin: 12px;
  vertical-align: top;
}

#main_board .row, #next_piece .row {
  height: 30px;
}

#main_board .row .block, #next_piece .row .block {
  height: 30px;
  width: 30px;
  display: inline-block;
  border: 1px solid #333;
  box-sizing: border-box;
}

#game_over {
  position: absolute;
  background-color: #000;
  border: 3px solid goldenrod;
  color: goldenrod;
  padding: 24px;
  top: 40%;
  left: 40%;
}

#side_bar, #chat_bar {
  display: inline-block;
  vertical-align: top;
  margin: 12px;
}

#score_box {
  height: 100px;
  width: 180px;
  border: 1px solid #fff;
}

#next_piece {
  height: 200px;
  width: 180px;
  border: 1px solid #fff;
  text-align: center;
  padding: 6px;
  box-sizing: border-box;
}

#next_piece .box {
  display: inline-block;
  width: 120px;
  height: 140px;
  background-color: #000;
  padding-top: 12px;
  box-sizing: border-box;
}

.mini_board {
  height: 180px;
  border: 1px solid #fff;
  margin: 12px;
}

.mini_board .row {
  height: 5px;
}

.mini_board .block {
  height: 5px;
  width: 5px;
  display: inline-block;
}

.blank {
  background-color: #000;
  border: 0 !important;
}

.purple {
  background-color: rebeccapurple !important;
}

.blue {
  background-color: steelblue !important;
}

.green {
  background-color: seagreen !important;
}

.orange {
  background-color: darkorange !important;
}

.red {
  background-color: maroon !important;
}

.yellow {
  background-color: palegoldenrod !important;
}

.gray {
  background-color: silver !important;
}